<div class="album">
    <section class="recent-photos"><span class="recent-photos-title">
            <div data-testid="TitlePhotos" class="title">
                <h2 class="text-title">Fotos recentes</h2>
            </div>
        </span>
        <div data-testid="RecentPhotosGrid" class="recent-photos-grid">
            <div class="photos"
                style="background-image: url(../../../../../assets/images/RecentWeddingPicture/1.jpg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/RecentWeddingPicture/2.jpg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/RecentWeddingPicture/3.jpg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/RecentWeddingPicture/4.jpg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/RecentWeddingPicture/5.jpg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/RecentWeddingPicture/6.jpg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/RecentWeddingPicture/7.jpg); background-position: center center; background-size: cover;">
            </div>
            <div class="photos"
                style="background-image: url(../../../../../assets/images/RecentWeddingPicture/8.jpg); background-position: center center; background-size: cover;">
            </div>
        </div>
    </section>
</div>